.CANavigationWrapper {
  background-color: black;
  border-style: solid;
  padding: 10px;
  border-width: 1px 0px 0px 0px;

  input {
    border-radius: 5px;
  }

  img {
    max-width: 50px;
    border: none;
    cursor: pointer;

    &:last-child {
      margin-left: 10px;
    }
  }

  .CANavigation {
    display: flex;
    justify-content: space-between;
  }
}

.current-affairs {
  min-height: 100vh;

  h1 {
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.25rem;
  }

  .no-data {
    margin-left: auto;;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    width: 280px;
  }

  .audio-player {
    margin-top: 20px;

    .date {
      font-size: 1rem;
      color: dimgray;
    }

    .react-audio-player {
      width: -webkit-fill-available;
    }
  }

  .notes {
    margin-top: 30px;

    img {
      width: 100%;
      margin-bottom: 50px;
    }

    .importantDates {
      margin: 20px 0px;
    }
  }
}
