.heroCarousel {

  img {
    object-fit: cover;
    width: 100%;
    height: calc(40vh - 56px);

    @media (min-width: 992px) {
      height: calc(100vh - 56px);
    }
  }

  h3 {
    font-size: 15px;
    background-color: black;
    opacity: 0.6;
  }
}