.navbar {
  background-color: black;

  .navbar-nav {
    a {
      color: goldenrod;
      
      &:hover {
        color: goldenrod;
      }
    }
  }
}

.brandLogo {
  .tagline {
    font-size: 12px;
  }
}