.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 40px;
  padding: 70px;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;

  .contactInfo {
    .title {
      margin-bottom: 10px;
    }

    text-align: center;
    a {
      margin: 0px 8px;

      img {
        width: 30px;
      }
    }

    margin-bottom: 25px;
  }
}
